* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    scroll-behavior: smooth;
  }

 
  .heading-title{
    display:flex;
    justify-content:center;
    padding: 15px;
}
.registration-panel {
    margin: 0% 3%;            
    height: 85vh;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.registration-block{
    width: 100%;
    height: 100%;
    padding: 3%;
}
.registration-block h3{
  margin-bottom: 2em;
}
.registration-block-left{
    background-color: #fff;   
    border-radius: 5px 0 0 5px;  
    flex-basis: 40%;
}
.registration-block-right{
    background-color: #463acc;
    border-radius: 0 5px 5px 0;  
    color : #fff;
    flex-grow: 1;
}

button.action-btn {
  margin-right: 1em;
  padding: 3px 10px;
  cursor: pointer;
  background: #ddd;
  border: none;
  border-radius: 5px;
}

div#studentList {
  height: 65vh;
  overflow-y: auto;
}

div#studentList li {
  list-style-type: none;
  border-bottom: 1px dashed #988383;
  margin-bottom: 5px;
  padding: 8px 5px;
}
.header-row, .student-row{
  display: flex;
  justify-content: space-between;
}

.cell{
  width:100%;
  border-bottom: 1px dashed #a07d7d;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.cell:nth-child(5n) {
  border: none;
  text-align: right;
}
.student-row .cell:nth-child(4n) {
  text-align: right;
}
/*=======  Form =================*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: crimson;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group-textarea {
  width: 100%;
}

.error{
    color:red;
    font-size: 11px;
}

.fade-text {
  opacity: 1;
  transition: opacity 2s ease;
}
