* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    scroll-behavior: smooth;
  }


.registration-panel {
    margin: 2% 10%;            
    height: 75vh;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.registration-block{
    width: 100%;
    height: 100%;
    padding: 5%;
}

.registration-block-left{
    background-color: #fff;   
    border-radius: 5px 0 0 5px;    
}
.registration-block-right{
    background-color: #463acc;
    border-radius: 0 5px 5px 0;  
}

/*=======  Form =================*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: crimson;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group-textarea {
  width: 100%;
}

.error{
    color:red;
    font-size: 11px;
}


